doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    script(src="scripts/script.js", type="module", defer)
    script(src="https://kit.fontawesome.com/4fafcd2e55.js", crossorigin="anonymous")
    title!="Search - " + searchquery
  body
    header.search_container
      form(action="/", method="get")
        input.search_container__search_bar(value=searchquery,type="search", name="q", id="searchbar")
        button.search_container__search_button(type="submit") Search
    nav.nav
      ul.nav__scroll_buttons
        li.link-button
          i.fa-lg.fa-solid.fa-magnifying-glass
        li.link-button
          i.fa-lg.fa-brands.fa-youtube
        li.link-button
          i.fa-lg.fa-brands.fa-reddit
        li.link-button
          i.fa-lg.fa-brands.fa-github
    main#main-container
      div#full-height-container.results_container
        section.long-narrow-container#ddg
          h2.container_title DuckDuckGo
          ul#duckduckgo-results-list
            if searchresults.duckduckgo
              each result in searchresults.duckduckgo
                li
                  a(href=result.url)
                    p.url= result.url
                    h3.title!= result.title
                    p.abstract.fade!= result.description
        section.long-narrow-container#ytb
          h2.container_title Youtube
          ul#youtube-results-list
            if searchresults.youtube
              each result in searchresults.youtube
                li
                  a.hyperlink_container(href="https://www.youtube.com/watch?v="+result.id)
                    //- - console.log(result.thumbnails)
                    - const thumbnail = result.thumbnails[1]?.url ?? result.thumbnails[0].url
                    //- img.wide-broad-thumbnail(src=result.thumbnails[0].url)
                    img.wide-broad-thumbnail(src=thumbnail,loading="lazy")
                    h3.title= result.title
                    p.description= result.description
        section.long-narrow-container#rdt
          h2.container_title Reddit
          ul#reddit-results-list
            if searchresults.reddit
              each result in searchresults.reddit
                li
                  a.permalink.reddit-search-result-box(href="https://www.reddit.com"+result.data.permalink)
                    if result.data.thumbnail != "self" && result.data.thumbnail != "default" && result.data.thumbnail != "spoiler"
                      object.short-square-thumbnail(data=result.data.thumbnail)
                        img.short-square-thumbnail(src='https://freelogopng.com/images/all_img/1658834630reddit-logo%20(1).png')
                    else
                      img.no-img
                    h3.title.title--reddit!= result.data.title
                  span.pill= "r/"
                    strong
                      p.subreddit= result.data.subreddit
                  if result.data.selftext
                    p.selftext!= result.data.selftext
        section.long-narrow-container#git
          h2.container_title Github
          ul#github-results-list
            if searchresults.github
              each result in searchresults.github
                li
                  a.hyperlink_container(href=result.html_url)
                    h3.full-name=result.full_name
                    p.description=result.description
                    span.language=result.language
